body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f7fa;
  color: #333;
}

:root {
  --primary-color: #005A92;
  --background-color: #f4f7fa;
  --text-color: #333;
  --container-padding: 24px;
}

main {
  padding: var(--container-padding);
}
