.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button {
  padding: 8px 12px;
  margin: 0 10px;
  cursor: pointer;
}

.pageInfo {
  margin: 0 10px;
}
