.container {
  max-width: 420px;
  margin: 96px auto;
  padding: 24px;
  border: 1px solid #eaeaea;
  border-radius: 8px;
}

.title {
  font-size: 24px;
  margin-bottom: 24px;
}

.label {
  display: block;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #005A92;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.message {
  margin-top: 24px;
  color: red;
}
